@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 500;
}

body {
    background-color: #0A0C1B;
}

.card {
    background-color: #1C1938;
    h1 {
        color: white;
    }
    a {
        color: white;
        font-weight: 300;
    }
}

.filter {
    background-color: #A85DD5;
    opacity: 50%;   
}

.attribution {
    color: white;
}